<div class="col-md-6">
	<div class="centered">
		<%= form_tag(find_stop_path, method: :post, class: 'form-inline', id: 'search-form') do %>
				<div class="input-group">
				<div class="input-group-addon">
					<%= material_icon.search %>
				</div>
			 	 <%= search_field_tag :term, params[:term], data: { autocomplete_source: stops_list_path}, class: 'form-control form-control-lg', id: 'search_stop_term' %>
			 	 </div>
			  <%#= submit_tag 'Search', name: nil, class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>

<div class="row"><div class="col-md-12">

